.simon-btn-board {
  display: grid;
  grid-template-columns: 300px 75px 300px;
  grid-template-rows: 300px 50px 300px;
  justify-content: center;
  margin-bottom: 40px;
}

.red-circle {
  background-color: rgb(163, 10, 10);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  grid-column: 1/2;
  grid-row: 1/2;
  border: 5px solid black;
  outline-style: none;
}

.blue-circle {
  background-color: rgb(6, 34, 126);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  grid-column: 3/4;
  grid-row: 1/2;
  border: 5px solid black;
  outline-style: none;
}

.green-circle {
  background-color: rgb(24, 90, 38);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  grid-column: 1/2;
  grid-row: 3/4;
  border: 5px solid black;
  outline-style: none;
}

.yellow-circle {
  background-color: rgb(185, 185, 11);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  grid-column: 3/4;
  grid-row: 3/4;
  border: 5px solid black;
  outline-style: none;
}